input[type="file"] {
    display: none;
}

.customFileUpload {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px 0px 8px 0px;
    display: inline-block;
    margin-left: 28%;
    padding: 6px 12px;
    background-color: var(--color-primary-900);
    color: white;
    cursor: pointer;
}

.txtArea {
    background-color: white;
    color: black;
}

h2 {
    margin-bottom: 12px;
    font-style: normal;
    text-align: center;
    font-size: 30pt;
}

.description {
    color: rgb(78, 78, 78);
    font-weight: 300;
}

.editPostForm {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 13px #63a7ff;
        box-shadow: 0 0 13px #63a7ff;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 3%;
    padding-bottom: 1%;
}

.editPostForm h2 {
    color: var(--color-primary-900);
    font-size: 30px;
}

.optionBtns {
    margin-left: 16%;
}
.optionBtns .cancelBtn {
    font-size: 10pt;
    color: var(--color-primary-900);
}
.optionBtns .updateBtn {
    font-size: 11pt;
    margin-left: 18px;
    /* background-color: rgb(59, 196, 100);
    color: var(--color-primary-900); */
}