@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home {
  height: 85vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.homeContent {
  margin-left: 2%;
  max-width: 600px;
}

.home .homeImg {
  margin-left: 18%;
  animation-duration: 2s;
  animation-name: globespin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes globespin {
  0%{
    transform: scale(1.05);
  }
  100%{
    /* transform: rotate(350deg); */
    transform: scale(1.15);
  }
}

.homeContent h1 {
  margin-left: -4px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-primary-900);
}

.homeContent h3 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-primary-700);
}

.homeContent p {
  font-size: 16px;
  margin: 20px 0 40px;
  text-align: justify;
}

.homeContent .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btnBox a {
  position: relative;
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: rgb(59, 196, 100);
  border: 2px solid rgb(59, 196, 100);
  border-radius: 8px;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btnBox a:hover {
  color: rgb(59, 196, 100);
}

.btnBox a:nth-child(2) {
  background: transparent;
  color: var(--color-primary-700);
}

.btnBox a:nth-child(2):hover {
  color: #ffffff;
}

.btnBox a:nth-child(2)::before {
  background: var(--color-primary-700);
}

.btnBox a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: .5s;
}

.btnBox a:hover::before {
  width: 100%;
}

.homeSci {
  position: absolute;
  bottom: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.homeSci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00f0d0;
  border-radius: 50%;
  font-size: 20px;
  color: #02c4aa;
  text-decoration: none;
  z-index: 1;
}

.homeSci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #a81818;
  z-index: -1;
  transition: .5s;
}

.homeSci a:hover::before {
  width: 100%;
}