@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Bungee+Inline&family=Roboto:wght@300;400;700&display=swap');

input[type="file"] {
    display: none;
}

.customFileUpload {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(1, 15, 34);
    border-radius: 8px 0px 8px 0px;
    display: inline-block;
    margin-left: 28%;
    padding: 6px 12px;
    background-color: var(--color-primary-700);
    color: white;
    cursor: pointer;
}
.customFileUpload:hover {
    background-color: var(--color-primary-800);
}

.txtArea {
    background-color: white;
    color: black;
}
h2 {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30pt;
}
.description {
    color: rgb(78, 78, 78);
    font-weight: 300;
}